# Neenopal Python Dummy Data Task
 ## bhanu

In [1]:
import pandas as pd
import mysql.connector

# Question 1

## Read the csv or excel file

In [3]:
df = pd.read_csv('dummy_data.csv') # reading the data using the pandas read_csv function

In [4]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

# The dataset consists of information about different bikes, including their name, price, city, kilometers driven, owner type, age, power, and brand.

# Question 2


# Change the datatypes of the column and check the memory usage before and after the change in the data types.

In [5]:
df.memory_usage()

Index          128
bike_name     1192
price         1192
city          1192
kms_driven    1192
owner         1192
age           1192
power         1192
brand         1192
dtype: int64

In [6]:
# Changing the data types of the float columns to int32
float_columns = ['price', 'kms_driven', 'age', 'power']
for column in float_columns:
    df[column] = df[column].astype('int32')

In [7]:
df.memory_usage()

Index          128
bike_name     1192
price          596
city          1192
kms_driven     596
owner         1192
age            596
power          596
brand         1192
dtype: int64

In [8]:
# Checking the memory usage before the data type changes
after_memory_usage = df.memory_usage().sum()
after_memory_usage

7280

# Question 3

# Dump the data into the mysql database.

In [9]:
#Removing indexing from the table
df.reset_index(drop=True, inplace=True)
print(df.head())

                              bike_name   price       city  kms_driven  \
0    TVS Star City Plus Dual Tone 110cc   35000  Ahmedabad       17654
1           Royal Enfield Classic 350cc  119900      Delhi       11000
2                  Triumph Daytona 675R  600000      Delhi         110
3                  TVS Apache RTR 180cc   65000  Bangalore       16329
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000  Bangalore       10000

         owner  age  power          brand
0  First Owner    3    110            TVS
1  First Owner    4    350  Royal Enfield
2  First Owner    8    675        Triumph
3  First Owner    4    180            TVS
4  First Owner    3    150         Yamaha

In [14]:
db_host = "localhost"
db_user = "root"
db_password = "bhanu"
db_name = "bhanudb"
table_name = "bike_info" 

# Connecting to the MySQL database
connection = mysql.connector.connect(host=db_host, user=db_user, password=db_password, database=db_name)
cursor = connection.cursor()

# Deleting existing indexing from the table

In [32]:
 try:
    drop_index_query = f"DROP INDEX idx_{table_name}_id ON {table_name};"
    cursor.execute(drop_index_query)
except mysql.connector.Error as e:
    pass

# Insert data into the table

In [33]:
# Insert data into the table
for index, row in df.iterrows():
    values = tuple(row)
    insert_query = f"INSERT INTO {table_name} (bike_name, price, city, kms_driven, owner, age, power, brand) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
    cursor.execute(insert_query, values)

In [34]:
# Commit the changes to the database
connection.commit()

# Question 4

## index the column after the data is inserted

In [35]:
# Index the column
index_query = f"CREATE INDEX idx_{table_name}_id ON {table_name}(id);"
cursor = connection.cursor()
cursor.execute(index_query)

In [25]:
connection.commit()

In [31]:
# Show the indexed data
cursor.execute(f"SELECT * FROM {table_name} ORDER BY id;")
rows = cursor.fetchall()
for row in rows:
    print(row)

('TVS Star City Plus Dual Tone 110cc', 35000.0, 'Ahmedabad', 17654.0, 'First Owner', 3.0, 110.0, 'TVS', 1)
('Royal Enfield Classic 350cc', 119900.0, 'Delhi', 11000.0, 'First Owner', 4.0, 350.0, 'Royal Enfield', 2)
('Triumph Daytona 675R', 600000.0, 'Delhi', 110.0, 'First Owner', 8.0, 675.0, 'Triumph', 3)
('TVS Apache RTR 180cc', 65000.0, 'Bangalore', 16329.0, 'First Owner', 4.0, 180.0, 'TVS', 4)
('Yamaha FZ S V 2.0 150cc-Ltd. Edition', 80000.0, 'Bangalore', 10000.0, 'First Owner', 3.0, 150.0, 'Yamaha', 5)
('Yamaha FZs 150cc', 53499.0, 'Delhi', 25000.0, 'First Owner', 6.0, 150.0, 'Yamaha', 6)
('Honda CB Hornet 160R  ABS DLX', 85000.0, 'Delhi', 8200.0, 'First Owner', 3.0, 160.0, 'Honda', 7)
('Hero Splendor Plus Self Alloy 100cc', 45000.0, 'Delhi', 12645.0, 'First Owner', 3.0, 100.0, 'Hero', 8)
('Royal Enfield Thunderbird X 350cc', 145000.0, 'Bangalore', 9190.0, 'First Owner', 3.0, 350.0, 'Royal Enfield', 9)
('Royal Enfield Classic Desert Storm 500cc', 88000.0, 'Delhi', 19000.0, 'Second Owner', 7.0, 500.0, 'Royal Enfield', 10)
('Yamaha YZF-R15 2.0 150cc', 72000.0, 'Bangalore', 20000.0, 'First Owner', 7.0, 150.0, 'Yamaha', 11)
('Yamaha FZ25 250cc', 95000.0, 'Bangalore', 9665.0, 'First Owner', 4.0, 250.0, 'Yamaha', 12)
('Bajaj Pulsar NS200', 78000.0, 'Bangalore', 9900.0, 'First Owner', 4.0, 200.0, 'Bajaj', 13)
('Bajaj Discover 100M', 29499.0, 'Delhi', 20000.0, 'First Owner', 8.0, 100.0, 'Bajaj', 14)
('Bajaj Discover 125M', 29900.0, 'Delhi', 20000.0, 'First Owner', 7.0, 125.0, 'Bajaj', 15)
('Bajaj Pulsar NS200 ABS', 90000.0, 'Bangalore', 11574.0, 'First Owner', 3.0, 200.0, 'Bajaj', 16)
('Bajaj Pulsar RS200 ABS', 120000.0, 'Bangalore', 23000.0, 'First Owner', 3.0, 200.0, 'Bajaj', 17)
('Suzuki Gixxer SF 150cc', 48000.0, 'Mumbai', 24725.0, 'First Owner', 5.0, 150.0, 'Suzuki', 18)
('Benelli 302R 300CC', 240000.0, 'Mumbai', 15025.0, 'Second Owner', 3.0, 302.0, 'Benelli', 19)
('Bajaj Discover 125M', 29900.0, 'Delhi', 20000.0, 'First Owner', 7.0, 125.0, 'Bajaj', 20)
('Bajaj Pulsar RS200 ABS', 120000.0, 'Bangalore', 23000.0, 'First Owner', 3.0, 200.0, 'Bajaj', 21)
('Suzuki Gixxer SF 150cc', 48000.0, 'Mumbai', 24725.0, 'First Owner', 5.0, 150.0, 'Suzuki', 22)
('Hero Splendor iSmart Plus IBS 110cc', 46500.0, 'Delhi', 3500.0, 'First Owner', 2.0, 110.0, 'Hero', 23)
('Royal Enfield Classic Chrome 500cc', 121700.0, 'Kalyan', 24520.0, 'First Owner', 5.0, 500.0, 'Royal Enfield', 24)
('Yamaha FZ V 2.0 150cc', 45000.0, 'Delhi', 23000.0, 'First Owner', 6.0, 150.0, 'Yamaha', 25)
('Bajaj Pulsar NS200', 78000.0, 'Bangalore', 9900.0, 'First Owner', 4.0, 200.0, 'Bajaj', 26)
('Hero Super Splendor 125cc', 20000.0, 'Ahmedabad', 29305.0, 'First Owner', 16.0, 125.0, 'Hero', 27)
('Honda CBF Stunner 125cc', 20800.0, 'Faridabad', 30500.0, 'Second Owner', 7.0, 125.0, 'Honda', 28)
('Bajaj Pulsar 150cc', 50000.0, 'Bangalore', 19000.0, 'First Owner', 8.0, 150.0, 'Bajaj', 29)
('Honda X-Blade 160CC ABS', 81200.0, 'Mettur', 9100.0, 'First Owner', 2.0, 160.0, 'Honda', 30)
('Bajaj Pulsar NS200', 88000.0, 'Hyderabad', 21914.0, 'First Owner', 3.0, 200.0, 'Bajaj', 31)
('Yamaha YZF-R15 2.0 150cc', 80000.0, 'Kaithal', 20000.0, 'Second Owner', 4.0, 150.0, 'Yamaha', 32)
('Bajaj Avenger 220cc', 40900.0, 'Gurgaon', 15000.0, 'First Owner', 6.0, 220.0, 'Bajaj', 33)
('KTM RC 390cc', 180000.0, 'Pune', 17700.0, 'First Owner', 4.0, 390.0, 'KTM', 34)
('Honda CB Unicorn 150cc', 40000.0, 'Noida', 30000.0, 'First Owner', 8.0, 150.0, 'Honda', 35)
('KTM Duke 200cc', 70000.0, 'Nashik', 100000.0, 'Second Owner', 8.0, 200.0, 'KTM', 36)
('Royal Enfield Classic 350cc', 98800.0, 'Kochi', 39000.0, 'First Owner', 5.0, 350.0, 'Royal Enfield', 37)
('Honda CBR 150R 150cc', 65000.0, 'Allahabad', 43000.0, 'First Owner', 6.0, 150.0, 'Honda', 38)
('Royal Enfield Thunderbird X 500cc', 190500.0, 'Samastipur', 4550.0, 'First Owner', 2.0, 500.0, 'Royal Enfield', 39)
('KTM RC 200cc ABS', 179000.0, 'Bangalore', 3400.0, 'First Owner', 2.0, 200.0, 'KTM', 40)
('Royal Enfield Thunderbird 350cc', 70000.0, 'Nadiad', 45000.0, 'First Owner', 8.0, 350.0, 'Royal Enfield', 41)
('Bajaj Avenger 220cc', 45000.0, 'Hyderabad', 36100.0, 'First Owner', 6.0, 220.0, 'Bajaj', 42)
('Royal Enfield Bullet Electra 350cc', 78000.0, 'Lucknow', 8500.0, 'First Owner', 13.0, 350.0, 'Royal Enfield', 43)
('Bajaj Avenger Street 220 ABS', 110000.0, 'Bangalore', 2550.0, 'First Owner', 2.0, 220.0, 'Bajaj', 44)
('Royal Enfield Classic 350cc', 85000.0, 'Delhi', 18000.0, 'First Owner', 6.0, 350.0, 'Royal Enfield', 45)
('Bajaj Pulsar NS200', 38000.0, 'Delhi', 35000.0, 'First Owner', 9.0, 200.0, 'Bajaj', 46)
('Royal Enfield Thunderbird 350cc', 55346.0, 'Noida', 38000.0, 'First Owner', 10.0, 350.0, 'Royal Enfield', 47)
('Mahindra Centuro NXT 110cc', 28000.0, 'Jaipur', 45000.0, 'First Owner', 2.0, 110.0, 'Mahindra', 48)
('Hero Hunk 150cc', 37000.0, 'Mumbai', 10800.0, 'First Owner', 8.0, 150.0, 'Hero', 49)
('Suzuki Gixxer SF Fi 150cc SP ABS', 97000.0, 'Delhi', 4400.0, 'First Owner', 3.0, 150.0, 'Suzuki', 50)
('Yamaha FZ 150cc', 40000.0, 'Karnal', 357000.0, 'First Owner', 8.0, 150.0, 'Yamaha', 51)
('Royal Enfield\u200e Bullet 350cc', 90000.0, 'Delhi', 15300.0, 'First Owner', 7.0, 350.0, 'Royal Enfield', 52)
('TVS Apache RTR 160cc', 60000.0, 'Mumbai', 30000.0, 'First Owner', 5.0, 160.0, 'TVS', 53)
('Honda CB Shine 125cc', 21900.0, 'Gorakhpur', 30000.0, 'Second Owner', 7.0, 125.0, 'Honda', 54)
('Bajaj Avenger 220cc', 40000.0, 'Ahmedabad', 64000.0, 'First Owner', 7.0, 220.0, 'Bajaj', 55)
('Benelli TNT 600i ABS', 475000.0, 'Mumbai', 11500.0, 'Second Owner', 3.0, 600.0, 'Benelli', 56)
('Honda Dream Yuga 110cc', 34500.0, 'Ahmedabad', 17056.0, 'First Owner', 5.0, 110.0, 'Honda', 57)
('Yamaha SZ 150cc', 25000.0, 'Vidisha', 172082.0, 'First Owner', 9.0, 150.0, 'Yamaha', 58)
('Suzuki Gixxer 150cc', 30200.0, 'Bangalore', 45000.0, 'First Owner', 7.0, 150.0, 'Suzuki', 59)
('Bajaj Avenger Cruise 220', 65000.0, 'Hosur', 35000.0, 'First Owner', 5.0, 220.0, 'Bajaj', 60)
('Bajaj Pulsar 150cc', 25000.0, 'Mumbai', 38000.0, 'First Owner', 9.0, 150.0, 'Bajaj', 61)
('Kawasaki Z900', 935000.0, 'Bagalkot', 2500.0, 'First Owner', 2.0, 900.0, 'Kawasaki', 62)
('Royal Enfield Bullet Electra 350cc', 107100.0, 'Delhi', 15438.0, 'Second Owner', 3.0, 350.0, 'Royal Enfield', 63)
('Bajaj Pulsar 220cc', 80000.0, 'Delhi', 6000.0, 'First Owner', 3.0, 220.0, 'Bajaj', 64)
('Royal Enfield Thunderbird 350cc', 88000.0, 'Delhi', 19000.0, 'First Owner', 5.0, 350.0, 'Royal Enfield', 65)
('KTM Duke 200cc', 94700.0, 'Baripara', 32700.0, 'First Owner', 4.0, 200.0, 'KTM', 66)
('Hero CD Deluxe 100cc', 12200.0, 'Agra', 46643.0, 'First Owner', 14.0, 100.0, 'Hero', 67)
('Royal Enfield Classic 350cc', 106000.0, 'Delhi', 19000.0, 'First Owner', 6.0, 350.0, 'Royal Enfield', 68)
('Bajaj Pulsar 220cc', 29500.0, 'Hyderabad', 40700.0, 'First Owner', 12.0, 220.0, 'Bajaj', 69)
('Kawasaki Ninja 650cc', 290000.0, 'Dharwad', 11350.0, 'First Owner', 7.0, 650.0, 'Kawasaki', 70)
('Royal Enfield Thunderbird 350cc', 110000.0, 'Delhi', 1600.0, 'First Owner', 6.0, 350.0, 'Royal Enfield', 71)
('Bajaj Platina 125cc', 27000.0, 'Vadodara', 44410.0, 'First Owner', 10.0, 125.0, 'Bajaj', 72)
('Royal Enfield Thunderbird 350cc', 65000.0, 'Jalandhar', 9800.0, 'First Owner', 11.0, 350.0, 'Royal Enfield', 73)
('Royal Enfield Thunderbird X 350cc', 150000.0, 'Bangalore', 15000.0, 'First Owner', 3.0, 350.0, 'Royal Enfield', 74)
('Hero Karizma ZMR 223cc', 55786.0, 'Surat', 68000.0, 'Second Owner', 7.0, 223.0, 'Hero', 75)
('Bajaj Pulsar 180cc', 45000.0, 'Bangalore', 17757.0, 'First Owner', 8.0, 180.0, 'Bajaj', 76)
('Yamaha FZ25 ABS 250cc', 146000.0, 'Chennai', 3900.0, 'First Owner', 2.0, 250.0, 'Yamaha', 77)
('Royal Enfield Thunderbird 350cc', 115000.0, 'Bangalore', 23700.0, 'First Owner', 4.0, 350.0, 'Royal Enfield', 78)
('Bajaj CT 100 100cc', 30000.0, 'Noida', 8250.0, 'First Owner', 3.0, 100.0, 'Bajaj', 79)
('Bajaj Pulsar RS200 ABS', 93100.0, 'Mumbai', 10000.0, 'First Owner', 5.0, 200.0, 'Bajaj', 80)
('Yamaha YZF-R15 2.0 150cc', 82000.0, 'Mumbai', 4300.0, 'Second Owner', 3.0, 150.0, 'Yamaha', 81)
('Royal Enfield Interceptor 650cc', 260000.0, 'Navi Mumbai', 3800.0, 'First Owner', 2.0, 650.0, 'Royal Enfield', 82)
('Honda CB Shine 125cc', 38000.0, 'Bangalore', 33000.0, 'First Owner', 7.0, 125.0, 'Honda', 83)
('KTM Duke 250cc', 130000.0, 'Gandhidham', 17500.0, 'Second Owner', 4.0, 250.0, 'KTM', 84)
('Royal Enfield Himalayan 410cc', 118000.0, 'Gurgaon', 19000.0, 'First Owner', 4.0, 410.0, 'Royal Enfield', 85)
('Bajaj Pulsar 135LS', 14700.0, 'Delhi', 10000.0, 'First Owner', 11.0, 135.0, 'Bajaj', 86)
('Royal Enfield Thunderbird 350cc', 85000.0, 'Chennai', 54000.0, 'First Owner', 6.0, 350.0, 'Royal Enfield', 87)
('Bajaj Pulsar 220F', 40000.0, 'Mumbai', 27000.0, 'First Owner', 7.0, 220.0, 'Bajaj', 88)
('Yamaha FZ16 150cc', 50000.0, 'Bangalore', 19000.0, 'First Owner', 6.0, 150.0, 'Yamaha', 89)
('Royal Enfield Thunderbird 350cc', 71800.0, 'Mumbai', 43500.0, 'First Owner', 7.0, 350.0, 'Royal Enfield', 90)
('Royal Enfield Thunderbird 350cc', 71800.0, 'Mumbai', 43500.0, 'First Owner', 7.0, 350.0, 'Royal Enfield', 91)
('Bajaj Pulsar NS200', 75000.0, 'Bangalore', 11575.0, 'First Owner', 4.0, 200.0, 'Bajaj', 92)
('Ducati Scrambler 1100 Special', 1350000.0, 'Mumbai', 190.0, 'First Owner', 1.0, 1100.0, 'Ducati', 93)
('Triumph Street Triple 765', 790000.0, 'Mumbai', 19000.0, 'First Owner', 3.0, 765.0, 'Triumph', 94)
('Bajaj V15 150cc', 47000.0, 'Bangalore', 8600.0, 'First Owner', 4.0, 150.0, 'Bajaj', 95)
('Bajaj Pulsar 150cc', 60000.0, 'Pune', 2000.0, 'First Owner', 2.0, 150.0, 'Bajaj', 96)
('Suzuki Gixxer Fi 150cc ABS', 96700.0, 'Vadodara', 5100.0, 'First Owner', 1.0, 150.0, 'Suzuki', 97)
('Hero Splendor plus 100cc', 31900.0, 'Delhi', 9000.0, 'First Owner', 5.0, 100.0, 'Hero', 98)
('Bajaj Pulsar 150cc', 35000.0, 'Visakhapatnam', 44480.0, 'First Owner', 13.0, 150.0, 'Bajaj', 99)
('KTM Duke 390cc', 240000.0, 'Bangalore', 11000.0, 'First Owner', 3.0, 390.0, 'KTM', 100)
('Honda CBR 250R', 68000.0, 'Delhi', 16000.0, 'First Owner', 7.0, 250.0, 'Honda', 101)
('Bajaj Pulsar RS200', 80000.0, 'Bangalore', 26691.0, 'First Owner', 5.0, 200.0, 'Bajaj', 102)
('Royal Enfield Classic 350cc', 135000.0, 'Bangalore', 45000.0, 'First Owner', 5.0, 350.0, 'Royal Enfield', 103)
('Bajaj Pulsar 150cc', 11100.0, 'Pune', 12000.0, 'Third Owner', 12.0, 150.0, 'Bajaj', 104)
('Benelli TNT 600i', 480000.0, 'Mumbai', 14200.0, 'First Owner', 4.0, 600.0, 'Benelli', 105)
('Suzuki Gixxer 150cc SP Rear Disc', 65000.0, 'Thrissur', 41000.0, 'First Owner', 3.0, 150.0, 'Suzuki', 106)
('Yamaha FZ S V 2.0 150cc', 60000.0, 'Bangalore', 15000.0, 'First Owner', 5.0, 150.0, 'Yamaha', 107)
('Honda CBR 150R 150cc', 80000.0, 'Bangalore', 12314.0, 'First Owner', 4.0, 150.0, 'Honda', 108)
('Hero Splendor Plus Self Alloy 100cc', 46000.0, 'Delhi', 11760.0, 'First Owner', 3.0, 100.0, 'Hero', 109)
('Royal Enfield Classic 500cc', 95000.0, 'Bangalore', 22000.0, 'First Owner', 11.0, 500.0, 'Royal Enfield', 110)
('Hyosung GT650R', 400000.0, 'Delhi', 1800.0, 'First Owner', 4.0, 650.0, 'Hyosung', 111)
('Bajaj V15 150cc', 55000.0, 'Bangalore', 4400.0, 'First Owner', 4.0, 150.0, 'Bajaj', 112)
('Yamaha YZF-R15 S 150cc', 63000.0, 'Delhi', 16000.0, 'First Owner', 5.0, 150.0, 'Yamaha', 113)
('Bajaj V15 150cc', 51000.0, 'Faridabad', 9000.0, 'First Owner', 4.0, 150.0, 'Bajaj', 114)
('TVS Apache RTR 160 4V Disc', 69900.0, 'Delhi', 8700.0, 'First Owner', 3.0, 160.0, 'TVS', 115)
('Bajaj Pulsar RS200 ABS', 125000.0, 'Gorakhpur', 1342.0, 'First Owner', 4.0, 200.0, 'Bajaj', 116)
('Benelli TNT 300', 210000.0, 'Kolkata', 21000.0, 'First Owner', 6.0, 300.0, 'Benelli', 117)
('Honda CB ShineSP 125cc', 35900.0, 'Delhi', 19000.0, 'First Owner', 5.0, 125.0, 'Honda', 118)
('Honda CBR 250R', 67000.0, 'Delhi', 13000.0, 'First Owner', 9.0, 250.0, 'Honda', 119)
('Hero Passion Pro 100cc', 29339.0, 'Ernakulam', 12771.0, 'First Owner', 4.0, 100.0, 'Hero', 120)
('Hero Splendor Plus 100cc', 19695.0, 'Ernakulam', 51576.0, 'First Owner', 6.0, 100.0, 'Hero', 121)
('Hero Splendor iSmart Plus IBS 110cc', 48672.0, 'Ernakulam', 608.0, 'First Owner', 2.0, 110.0, 'Hero', 122)
('Honda CBR 150R 150cc', 40000.0, 'Mumbai', 13680.0, 'First Owner', 9.0, 150.0, 'Honda', 123)
('Yamaha YZF R6 600cc', 500000.0, 'Bangalore', 285.0, 'First Owner', 5.0, 600.0, 'Yamaha', 124)
('Ducati 1299 Superleggera', 800000.0, 'Mumbai', 3.0, 'First Owner', 3.0, 1299.0, 'Ducati', 125)
('Royal Enfield Himalayan 410cc', 110000.0, 'Bangalore', 24676.0, 'First Owner', 5.0, 410.0, 'Royal Enfield', 126)
('Royal Enfield Classic 350cc', 92500.0, 'Delhi', 11000.0, 'First Owner', 6.0, 350.0, 'Royal Enfield', 127)
('Bajaj Pulsar NS200', 57000.0, 'Bangalore', 28948.0, 'First Owner', 5.0, 200.0, 'Bajaj', 128)
('Royal Enfield Electra 350cc', 72500.0, 'Delhi', 10000.0, 'First Owner', 10.0, 350.0, 'Royal Enfield', 129)
('KTM Duke 200cc', 68000.0, 'Delhi', 16000.0, 'First Owner', 9.0, 200.0, 'KTM', 130)
('TVS Phoenix Disc 125cc', 21500.0, 'Barasat', 10500.0, 'First Owner', 5.0, 125.0, 'TVS', 131)
('TVS Apache RTR 160cc', 40000.0, 'Delhi', 20000.0, 'First Owner', 6.0, 160.0, 'TVS', 132)
('Royal Enfield Classic 350cc', 91000.0, 'Delhi', 18000.0, 'First Owner', 5.0, 350.0, 'Royal Enfield', 133)
('Harley-Davidson Street 750', 300000.0, 'Ghaziabad', 3500.0, 'First Owner', 6.0, 750.0, 'Harley-Davidson', 134)
('Suzuki Gixxer SF 150cc', 47000.0, 'Jaipur', 70000.0, 'First Owner', 6.0, 150.0, 'Suzuki', 135)
('Suzuki Gixxer 150cc', 53000.0, 'Bangalore', 18158.0, 'First Owner', 6.0, 150.0, 'Suzuki', 136)
('Suzuki Gixxer 150cc', 51000.0, 'Bangalore', 39140.0, 'First Owner', 5.0, 150.0, 'Suzuki', 137)
('Bajaj Pulsar 220F', 48000.0, 'Bangalore', 27776.0, 'First Owner', 8.0, 220.0, 'Bajaj', 138)
('Bajaj Pulsar 220cc', 55000.0, 'Bangalore', 32734.0, 'First Owner', 6.0, 220.0, 'Bajaj', 139)
('Royal Enfield Himalayan 410cc Fi ABS', 173300.0, 'Vadodara', 14000.0, 'First Owner', 2.0, 410.0, 'Royal Enfield', 140)
('Royal Enfield Bullet Electra 350cc', 77000.0, 'Delhi', 13000.0, 'First Owner', 8.0, 350.0, 'Royal Enfield', 141)
('Bajaj Pulsar NS200', 115000.0, 'Bangalore', 5000.0, 'First Owner', 2.0, 200.0, 'Bajaj', 142)
('Bajaj Discover 150cc', 36000.0, 'Hyderabad', 39500.0, 'First Owner', 7.0, 150.0, 'Bajaj', 143)
('Bajaj Avenger Street 220', 72000.0, 'Hyderabad', 29500.0, 'First Owner', 4.0, 220.0, 'Bajaj', 144)
('Royal Enfield Standard 350cc', 115000.0, 'Hyderabad', 14900.0, 'First Owner', 3.0, 350.0, 'Royal Enfield', 145)
('Honda CB Shine 125cc Disc', 65000.0, 'Mumbai', 2000.0, 'First Owner', 3.0, 125.0, 'Honda', 146)
('Honda CB Unicorn ABS 150cc', 99000.0, 'Mumbai', 4000.0, 'First Owner', 2.0, 150.0, 'Honda', 147)
('Yamaha YZF-R15 2.0 150cc', 68500.0, 'Delhi', 68500.0, 'Second Owner', 7.0, 150.0, 'Yamaha', 148)
('Yamaha YZF-R15 V3 150cc', 140000.0, 'Delhi', 2473.0, 'First Owner', 2.0, 150.0, 'Yamaha', 149)