# Task 1- Record Matching Data File
   ## bhanu

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('Record_Matching_Data1.xlsx' , sheet_name = 'data1')
df2 = pd.read_excel('Record_Matching_Data2.xlsx' , sheet_name = 'data2')

In [3]:
df1.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [4]:
df2.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

In [5]:
#No of null values 
df1.isnull().sum()

Order ID      0
Product ID    0
Qty           0
dtype: int64

In [6]:
#No of null values
df2.isnull().sum()

Order ID      0
Product ID    0
Qty           0
dtype: int64

In [7]:
df1["PK1"] = df1["Order ID"]+df1["Product ID"] #for data1
df2["PK2"] = df2["Order ID"]+df2["Product ID"] #for data2

In [8]:
df1.head()

         Order ID       Product ID  Qty                            PK1
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343

In [9]:
# Merging of the datasets
df = df1.merge(df2 , how = 'outer' , left_on = ['PK1'] , right_on = ['PK2'])
df

,Order ID_x,Product ID_x,Qty_x,PK1,Order ID_y,Product ID_y,Qty_y,PK2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [10]:
#Checking the null values after the merge
df.isnull().sum()

Order ID_x      508
Product ID_x    508
Qty_x           508
PK1             508
Order ID_y      507
Product ID_y    507
Qty_y           507
PK2             507
dtype: int64

# Question 1

## How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2

In [11]:
# for finding the missing values we will check the columns where data2 is null
task1 = df[df['PK2'].isnull()]
task1

,Order ID_x,Product ID_x,Qty_x,PK1,Order ID_y,Product ID_y,Qty_y,PK2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
10,CA-2014-100678,OFF-EN-10000056,3.0,CA-2014-100678OFF-EN-10000056,NaN,NaN,NaN,NaN
19,CA-2014-100895,OFF-AR-10004511,2.0,CA-2014-100895OFF-AR-10004511,NaN,NaN,NaN,NaN
35,CA-2014-101560,OFF-BI-10000309,3.0,CA-2014-101560OFF-BI-10000309,NaN,NaN,NaN,NaN
61,CA-2014-102673,OFF-LA-10001771,12.0,CA-2014-102673OFF-LA-10001771,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9390,US-2017-160836,OFF-AP-10001626,2.0,US-2017-160836OFF-AP-10001626,NaN,NaN,NaN,NaN
9403,US-2017-162558,FUR-FU-10002364,2.0,US-2017-162558FUR-FU-10002364,NaN,NaN,NaN,NaN
9420,US-2017-163657,OFF-BI-10000138,5.0,US-2017-163657OFF-BI-10000138,NaN,NaN,NaN,NaN
9427,US-2017-164056,FUR-TA-10001307,5.0,US-2017-164056FUR-TA-10001307,NaN,NaN,NaN,NaN
9435,US-2017-165456,FUR-CH-10003981,6.0,US-2017-165456FUR-CH-10003981,NaN,NaN,NaN,NaN

In [12]:
task1.shape

(507, 8)

# 507

# Question 2

## How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2

In [14]:
# for finding the missing values we will check the columns where data1 is null
task2 = df[df['PK1'].isnull()]
task2

,Order ID_x,Product ID_x,Qty_x,PK1,Order ID_y,Product ID_y,Qty_y,PK2
9478,NaN,NaN,NaN,NaN,CA-2014-100706,TEC-AC-10001314,2.0,CA-2014-100706TEC-AC-10001314
9479,NaN,NaN,NaN,NaN,CA-2014-100762,OFF-PA-10001815,3.0,CA-2014-100762OFF-PA-10001815
9480,NaN,NaN,NaN,NaN,CA-2014-101427,OFF-AR-10002257,3.0,CA-2014-101427OFF-AR-10002257
9481,NaN,NaN,NaN,NaN,CA-2014-102652,FUR-FU-10001918,7.0,CA-2014-102652FUR-FU-10001918
9482,NaN,NaN,NaN,NaN,CA-2014-102869,OFF-PA-10000788,3.0,CA-2014-102869OFF-PA-10000788
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [15]:
task2.shape

(508, 8)

# 508

# Question 3

## Find the Sum of the total Qty of Records missing in data1 but present in data2

In [16]:
task2['Qty_y'].sum()

1956.0

# 1956

# Question 4

## Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [17]:
df.shape[0]

9986

# 9986